
  body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background: url('3.jpg') no-repeat center center fixed;
    background-size: cover;
    color:#333;
    max-width:420px;
    margin:px auto;
    padding:0 20px;
    text-align:center;
  }
  h1 {
    background: linear-gradient(to right, #ffcccc, #ff0066);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size:8rem;
    margin-bottom:-60px;
    margin-left:-20px;
    
    
  }
  input {
    width:70%;
    padding:20px;
    margin:12px 0;
    border:4px solid #ffb3d9;
    border-radius:16px;
    background:#fff;
    color:#333;
    font-size:2rem;
    
  }
  button {
    background:#ff66a3;
    color:#fff;
    border:none;
    padding:24px 48px;
    font-size:2.2rem;
    border-radius:16px;
    cursor:pointer;
    margin-top:24px;
    transition:0.4s;
    margin-left:10px
    
  }
  button:hover {
    background:#ff4d88;
    
  }
  #result {
    margin-top:40px;
    font-size:2.8rem;
    font-weight:bold;
    color:#ff3399;
    
  }
  
  
  h3 {
    color:grey;
    font-size:1.8rem;
    margin-bottom:20px;
    margin-left:390px;
    
  }

  

  h4 {
    font-size:1.12rem;
    margin-top:900px;
    color:grey;
    margin-left:300px;
    display: none;
  }
  .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}
  
 .a{
    text-decoration: none;
   color:grey;
  }
  

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}
  .main{
    box-shadow: 0 0 10px;
    width: 800px;
    padding: px;
    margin-left:50px;
    margin-right: 40px;
    padding-top: 20px;
    margin-top: 50%;
    backdrop-filter: blur(10px);
  }

h2{
  
  color: #ff66a3;
  margin-left: -200px;
  font-size: 4rem;
  margin-bottom: -100px;
}
