





body{
  background: url('2.jpg') no-repeat center center fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}


h1{
  color: #ff66a3;
  font-size: 4rem;
  
  
}


.main{
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px;
  width: 100%;
  max-width: 700px;
  margin-left: 100px;
  padding: 20px;
  margin-top: 350px;
  padding-top: 10px;
  padding-bottom: 100px;
  backdrop-filter: blur(5px);
}
input {
  border: none;
  background: transparent;
  width: 90%;
  box-shadow: 0 0 7px black;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 30px;
  height: 100%;
}

button {
    background:#ff66a3;
    color:#fff;
    border:none;
    padding:24px 48px;
    font-size:2.2rem;
    border-radius:16px;
    cursor:pointer;
    margin-top:24px;
    transition:0.4s;
    margin-left:10px;
    margin-right: 20px
    
    
  }
  button:hover {
    background:#ff4d88;
    
  }


a{
  margin-top: 50px;
  margin-right: 500px;
  color: black;
  font-size: 20px;
}
h2{
  font-size: 5rem;
  color: black;
}


.alert{
  color: red;
  font-size: 30px;
  display: none;
}

